header{
    background-image: url("images/pod.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    text-align: center;
}
body{
    font-family: "Baufra", sans-serif;
}
h1 {
    display: inline-block;
    text-align:ce;
    margin: 0;
    font-size: 100px;
    font-family: Oswald;
    color: #ca9a15;
}

.navbar {
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 1000;

}

.navbar ul{
    list-style-type: none;
    background-color: #000040;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color:rgb(255, 255, 255);
    font-family: Verdana;
    font-size: 20px;
    padding: 20px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color:rgb(119, 119, 119);
}

.navbar li{
    float: left;
}

p {
    font-family: verdana;
    font-size: 30px;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    margin: 0px;

}


@font-face {
    font-family: Oswald;
    src: url(Fonts/Oswald/Oswald-VariableFont_wght.ttf);
}

.img-drought{
    width: 500px;
    height: 400px;
    background-image: url(img/drought.jpg)
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-item {
    margin: 50px;
}

.gallery-item img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.gallery-item img:hover {
    transform: scale(1.2);
}
css
.gallery-item {
  position: relative;
}

.image-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.gallery-item:hover .image-text {
  opacity: 1;
}
body {
  background-image: url('Background img.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
  box-shadow: #000000;
}
